<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.HyScenicSpotPassengerMapper">
    <select id="getSpotPassenger" resultType="com.example.bean.HyScenicSpotPassenger">
        SELECT * FROM hy_scenic_spot_passenger limit 1
    </select>
</mapper>